.nav-wrapper {
  background-color: firebrick;
}

#nav-mobile {
  color: white;
}

#search {
  color: #fff;
  border-top: 2px solid darkblue;
  background-color: lightblue;
}

.auth-form{
  background-color: grey;
}

#sign-in-header {
  background-color: yellow;
}
