@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Faster+One');


//COLORS
$primary-color: #711;
$secondary-color: #a6172d;

//FONTS

$main-font: 'Raleway', sans-serif;
$header-font: 'Faster One', cursive;

//STYLING

body{
  background-color: #fff;
}

.nav-wrapper {
  background-color: $primary-color;
  font-family: $main-font
}

#nav-mobile {
  color: white;
}

#search {
  color: #000;
  border: 2px solid #c72e45;
  border-bottom: 4px solid #c72e45;
  background-color: #fff;
  margin: auto;
  padding: 5px;
}

.auth-form{
  background-color: grey;
}

#sign-in-header {
  background-color: yellow;
}

#close-btn{
  font-size: 1.25em;
  text-align: center;
  font-weight:600;
}

#brand-logo{
  font-family: $header-font;
  color: darkgrey;
  font-size: 3em;
}
