<h2 class="page-header">Pintered Boards</h2>

<div ng-repeat="pin in pins">
  <div class="col-md-5 cold-md-offset-1">
    <div class="panel panel-default">
      <a ng-href="#!/pin/{{pin.id}}"><div class="panel-body">
        <h3>{{pin.name}}</h3>
        <h4>{{pin.description}}</h4>
      </div></a>
      <button ng-click="editPin(pin.id)">Edit Board</button>
      <button ng-click="delPin(pin.id)">Delete Board</button>
    </div>
  </div>
</div>
<div class="panel panel-default" >
      <button><a href="#!/addPin/{{boardId}}">
        Create Pin
      </a>
      </button>
</div>
