<div class="container">
  <h4>My Boards</h4>
  <div class="row">
    <div ng-init="loadBoardsToDom()">
        <div>
          <a class="waves-effect waves-light btn teal darken-4" ng-click="addNewBoard()"><i class="material-icons left"></i>Add New Board</a>
        </div>
        <div class="col s6 m4 l3" ng-repeat="board in boardArray">
          <div class="hoverable card">
            <a ng-href="#/boards/{{board.boardid}}">
              <div style="background: {{board.color}}">
                <h2 class="board-name center-align">{{board.name}}</h2>
              </div>
            </a>
          </div>
        </div>
    </div>
  </div>

</div>