  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="{obj.image}">
          <span class="card-title" ng-model="obj.title">Card Title</span>
          <a class="btn-floating btn-small red" href="#/{{board.id}}/edit">
      <i class="medium material-icons">mode_edit</i>
          </a>
          </div>
        <div class="card-content">
          <p ng-model="obj.description"></p>
        </div>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
      </div>
    </div>
  </div>
